# dependencies
node_modules/

# build output
dist/

# environment
.env
.env.local
.env.*.local

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.sublime-workspace

# misc
npm-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
